* {
      background-color: #EDF1D6;
      color:#40513B;
}

h1 {
      text-align: center;
    }
    
.header {
      display: flex;
      align-items: center;
      flex-direction: column;
}

.scoreBoard {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
}

.flexItem {
      justify-content: space-around;
}

.gameboard {
      display: flex;
      flex-wrap: wrap;
      width: 320px;
      margin: 0 auto;
}

.square {
      background-color: #9DC08B;
      border: 2px solid #609966;
      height: 100px;
      width: 100px;
      text-align: center;
      line-height: 100px;
      font-size: 75px;
}

.square:hover {
      transition: 1500ms ease;
      background-color: #40513B
}

.footer {
      display: flex;
      align-items: center;
      flex-direction: column;
}

button{
      background-color: #40513B;
      color: #9DC08B;
}